<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  type="text/css" href="LoginStyle.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body background="/Data/Image/Login/background/Background.jpg">
    <div class="container">
        <form>
            <img src="/Data/Image/Login/icon/useravatar.png">
            <div class="form-input">
                <a>Username</a>
                <input id="username" type="text" name="username" placeholder="Enter your username">
            </div>
            <div class="form-password">
                <a>Password</a>
                <input id="password" type="password" name="password" placeholder="Enter your password">
            </div>
            <div>
                <div>
                    <button id="btnLogin">LOGIN</button>
                </div>
                <div>
                    <button id="btnRegister">REGISTER</button>
                </div>
            </div>

        </form>
    </div>
</body>
<script src="LoginController.js"></script>
</html>